@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Discord';
    src: url('/fonts/DiscordHeavy.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }